@font-face {
  font-family: "Abyssinica SIL";
  src:
    url("fonts/abyssinica-sil.woff2") format("woff2"),
    url("fonts/abyssinica-sil.woff") format("woff"),
    url("fonts/abyssinica-sil.ttf") format("truetype");
  font-display: swap;
}

body {
  background: #223;
}

.container.typedrummer {
  --color: blueviolet;
  --shine-color: hotpink;
  --dark-color: indigo;
}

.container.voicedrummer {
  --color: #bd7d04;
  --shine-color: #acac12;
  --dark-color: #4a4a0d;
}

.container.retrodrummer {
  --color: #006aff;
  --shine-color: #00b3ff;
  --dark-color: #133770;
}

.container.phildrummer {
  --color: #0d650a;
  --shine-color: #12a51a;
  --dark-color: #0a5306;
}

.soundbox {
  border: 6px solid var(--color);
  width: 525px;
  height: 200px;
  background: #0006;
  color: #fff;
  font-family: "Abyssinica SIL", sans-serif;
  font-size: 48px;
  padding: 10px 20px;
}

p {
  font-family: "Abyssinica SIL", sans-serif;
  font-weight: lighter;
  font-size: 18px;
  color: #ccc;
  margin: 5px 0 0;
  text-align: center;
}

p + p {
  opacity: 0.5;
}

p a {
  color: #38ace2;
}

p a:hover {
  color: #e45b5b;
}

.top {
  display: flex;
  align-items: flex-end;
}

.text-logo {
  font-family: "Abyssinica SIL", sans-serif;
  font-weight: bold;
  text-shadow:
    2px 2px 0 var(--shine-color),
    4px 4px 0 var(--color),
    6px 6px 0 var(--dark-color),
    8px 8px 0 black;
  font-size: 54px;
  color: #fff;
  transform: translate(0, -50px);
}

.logo {
  transform: scale(1);
  transition: transform 0.25s;
}

img.logo:hover {
  filter: drop-shadow(0 0 10px cyan);
  transition: none;
  cursor: pointer;
}

.logo.beat {
  transform: scale(1.25);
  transition: none;
}

.logo.jump {
  transform: translateY(-20px);
}

.logo.right {
  transform: translateX(20px);
}

.logo.left {
  transform: translateX(-20px);
}

.logo.rave {
  filter: invert(90%);
}

.logo.spin {
  transform: rotate(90deg);
}

.logo.antispin {
  transform: rotate(-90deg);
}

.logo.random {
  filter: sepia(200%) brightness(200%) hue-rotate(200deg);
}

.container {
  width: 600px;
  margin: 8em auto;
}
